body{
font-family: Arial,sans-serif;
margin: 0;
background-color:aliceblue

}
.container {
display: flex;
width: 90%;
max-width: 1000px;
margin: 30px auto;
background-color: white;
border-radius: 20px;
box-shadow: darkgrey;
overflow-y: auto;
overflow: hidden;

}
.image-container{
width: 50%;

}

.image-container img{
width: 100%;
height: 100%;
object-fit: cover;

}
.texts{
    width: 50%;
    padding: 20px;
    background-image:url(Background.png);
    background-size: cover;
    background-position: center;
    color: black;
    text-align: justify;
}
h2{
    margin-top: 0;
    color:royalblue
}

p{
    margin-bottom: 15px;
    text-align: justify;
}
a{
    color: blue;
    text-decoration: none;
}

a:hover 
{
    text-decoration: underline;
}
form{
    margin-top: 20px;
}


textarea{
    width: 100%;
    height: 120px;
    padding: 10px;
    box-sizing:border-box;
    border-radius: 5px;
    font-size: 1em;
}
.button-container{
    text-align: center;
}
button{
padding: 10px 30px;
background-color:royalblue;
color: white;
border: none;
border-radius: 10px;

}
button:hover{
    background-color: transparent;
    color: royalblue;
    border: 2px solid royalblue;
}